.header_link {
   background-color: #fff;
   color: #4d5562;
   padding: 7px 12px 7px 10px;
   display: flex;
   gap: 10px;
   justify-content: space-around;
   align-items: center;
   border-radius: 5px;
   border: 1px solid #fff;
   transition: 0.1s;
   svg {
      transition: 0.1ms;
   }
   &:hover {
      svg > path {
         stroke: #5d5fef;
      }
   }
}
