.app {
  color: #111827;
  background-color: #fff;
  width: 690px;
  height: 640px;
}

.wrapper {
  padding: 38px 80px 86px 76px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  padding-top: 30px;
}
